.success-snackbar {
    background-color: #4caf50; 
    color: white;
  }
  
  .error-snackbar {
    background-color: #f44336;
    color: white;
  }  
  
.inscripciones-card {
    max-width: 600px;
    margin: 20px auto;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  mat-card-subtitle {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  mat-card-subtitle h3 {
    margin-top: 0;
  }
  
  mat-card-subtitle p {
    margin: 0;
  }
  